*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

AIAndAnim/Binaries/*
AIAndAnim/Content/Geometry/*
AIAndAnim/Content/Mannequin/*
AIAndAnim/Content/ThirdPerson/Meshes/*
AIAndAnim/Intermediate/*
AIAndAnim/Saved/*
